body {
    background:url(../images/879024.png) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.buttonFix{
    padding: 0px;
    border: 0;
    margin: 0px 7px 0px 7px;
}

button:active{
    padding: 0px;
}

.hide {
    display: none;
}

.charButton{
    background-color: #272D3D;
    margin-bottom: 5px;
    border: none;
}

.choosePlayer{
    background-color: #272D3D;
    border: 5px solid #50A81B;
    border-radius: 27px;
    color: #DCEEFF;
    height: 220px;
}

.choosePlayer button:hover{
    border: 2px solid #D0021B;
    border-radius: 5px;

}

.charPicked{
    background-color: #272D3D;
    border: 5px solid #50A81B;
    border-radius: 27px;
    color: #DCEEFF;
    height: 220px;
}

.enemyPicked{
    background-color: #272D3D;
    border: 5px solid #50A81B;
    border-radius: 27px;
    color: #DCEEFF;
    height: 220px;
}

.enemyLeft {
    background-color: #272D3D;
    border: 5px solid #50A81B;
    border-radius: 27px;
    color: #DCEEFF;
    height: 220px;
}

.enemyLeft button:hover{
     border: 2px solid #D0021B;
     border-radius: 5px;

 }

.img{
    height: 117px;
    width: 87px;
    /*margin: 2px;*/
    background-color: #272D3D;
    background-clip: border-box;
}

.choosePlayer h1 {
    padding-top: 10px;
}

.gameTitle{
    font-family: 'Notable', sans-serif;
    font-size: 80px;
    color: #97E62D;
    text-shadow: 5px 5px #272D3D;

}

button:after{
    margin: 0px;
}

.attackPoints{
    color: #97E62D;
}

.enemyPoints{
    color: #272D3D;
    font-size: 20px;
}

.lifeLeft{
    color: #D0021B;
}

.attackbutton{
    background-color: #97E62D;
    border: 2px solid #25770A;
    border-radius: 27px;
    width: 50%;
    height: 60px;
}

.attackBlock button:hover {
    border: 2px solid #D0021B;
    border-radius: 27px;
}


@media (max-width: 993px) {
    .img{
        height: 78px;
        width: 58px;
    }

    h1 {
        font-size: 25px;
    }

    h4 {
        font-size: 13px;
    }
    .choosePlayer{
        height: 150px;
    }

    .charPicked{
        height: 150px;
    }
    .enemyPicked{
        height: 150px;
    }

    .enemyLeft {
        height: 150px;
    }
    .enemyPoints {
        font-size: 13px;
    }
}


/*TODO: Apply css rules once screen is less than 776*/
@media (max-width: 776px) {
    .img{
        height: 47px;
        width: 35px;
    }

    h1 {
        font-size: 25px;
    }

    h4 {
        font-size: 13px;
    }
    .choosePlayer{
        height: 125px;
    }

    .charPicked{
        height: 125px;
    }
    .enemyPicked{
        height: 125px;
    }

    .enemyLeft {
        height: 100px;


    }
    .enemyPoints {
        font-size: 13px;
    }
    .align-middle{

    }
    .lifeLeft{

        padding: 10px;
    }
    .enemyNameFix{
        font-size: 11px;
    }
    .float-right{
        margin-left: 5px;
    }
    .attackbutton{
        background-color: #97E62D;
        border: 2px solid #25770A;
        border-radius: 27px;
        width: 50%;
        height: 30px;
    }
}

@media (max-width: 767px) {
    .img {
        height: 31px;
        width: 23px;
    }

    h1 {
        font-size: 16px;
    }

    h4 {
        font-size: 9px;
    }

    .choosePlayer {
        height: 100px;
    }

    .charPicked {
        height: 80px;
    }

    .enemyPicked {
        height: 80px;
    }

    .enemyLeft {
        height: 80px;


    }

    .enemyPoints {
        font-size: 9px;
    }

    .align-middle {

    }

    .lifeLeft {

        padding: 10px;
    }

    .enemyNameFix {
        font-size: 8px;
    }

    .float-right {
        margin-left: 5px;
    }

    .attackbutton {
        background-color: #97E62D;
        border: 2px solid #25770A;
        border-radius: 27px;
        width: 50%;
        height: 30px;
    }
}
